push constant 0
pop static 9
push constant 1
pop static 8
label loop
push static 10
push static 8
lt
if-goto end
push static 8
push static 9
add
push constant 1
add
pop static 8
push static 9
push constant 1
add
pop static 9
goto loop
label end
goto end